@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

@font-face {
  font-family: "Aileron";
  src: url(../fonts/Aileron-Black.otf);
}
@font-face {
  font-family: "Alliance No.1";
  src: url(../fonts/Alliance\ No.1\ Light.otf);
}
@font-face {
  font-family: "Alliance No.1 Bold";
  src: url(../fonts/AllianceNo1-Bold.ttf);
}
@font-face {
  font-family: "Alliance No.1 Light";
  src: url(../fonts/AllianceNo1-Light.ttf);
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 18, 32, 1) 55%
  );
}

/* Main Page */
.mainPage {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.mainPage_Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010917;
  border-radius: 25px;
  margin-left: 150px;
  padding: 20px;
  width: 300px;
  height: 200px;
}
.mainPage_Info {
  font-family: "Alliance No.1";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010917;
  color: rgb(193, 193, 193);
  line-height: 30px;
  border-radius: 25px;
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
  height: 220px;
}
.greenWord {
  color: #00a586;
}
.menuTitle {
  font-family: "Alliance No.1 Bold";
  font-weight: bold;
  color: #fff;
  margin: 0px;
  margin-bottom: 20px;
}
.menuLine {
  z-index: 1;
  width: 250px;
  height: 1px;
  background: #00a586;
  margin-bottom: 20px;
}
.logReg {
  font-family: "Alliance No.1";
  color: rgb(193, 193, 193);
}
.logReg_ref {
  color: #00a586;
  text-decoration: none;
}
.logReg_ref:hover {
  color: #2d43c0;
}
.mainPage_Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tallocTitle {
  font-family: "Aileron";
  color: #fff;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.tallocDesc {
  font-family: "Alliance No.1";
  margin: 0px;
  color: #00a586;
}

/* Register & Login */
.log_regPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0d1117;
  top: 0;
  left: 0;
}
.tallocLogin {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.log_regMenu {
  background-color: #161b22;
  outline: solid;
  outline-color: #30363d;
  outline-width: 1px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}
.log_regInputs,
.updatePATInput {
  font-family: "Alliance No.1";
  margin-bottom: 10px;
  background: #010409;
  text-align: center;
  outline: solid;
  outline-color: #5a6169;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #5a6169;
  border-radius: 3px;
  outline-width: 1px;
  margin-top: 20px;
  padding: 5px;
  height: 20px;
}
.log_regInputs:focus {
  background: #30363d;
  color: #fff;
}
.log_regButton {
  font-family: "Alliance No.1";
  padding: 7px;
  cursor: pointer;
  margin-top: 50px;
  background: #00a586;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  width: 100px;
  outline: solid;
  outline-width: 1px;
  outline-color: #0d1117;
}
.log_regButton:hover {
  background: #2d43c0;
  color: #fff;
}
.registerMenu {
  background-color: #161b22;
  outline: solid;
  outline-color: #30363d;
  outline-width: 1px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin-bottom: 100px;
}
.registerTitles {
  font-family: "Alliance No.1 Light";
  font-weight: normal;
  font-size: 15px;
  color: rgb(203, 203, 203);
  flex-basis: 50%;
  margin: 0px;
}
.registerGitHub {
  display: flex;
  align-self: flex-end;
  flex-basis: 100%;
  flex-direction: column;
}
.gitHubPATSection {
  display: flex;
  flex-direction: column;
}
.registerQuestion,
.registerQuestionPAT {
  font-family: "Alliance No.1 Light";
  font-weight: normal;
  font-size: 12px;
  color: rgb(148, 148, 148);
  flex-basis: 50%;
  margin: 10px;
  margin-left: 10px;
}
.registerQuestionPAT {
  text-decoration: underline;
}
.registerQuestionPAT:hover {
  color: #4259db;
  cursor: pointer;
}
.registerQuestionContainer {
  display: flex;
  margin-left: 5px;
  height: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.registerRadio {
  font-family: "Alliance No.1 Light";
  font-weight: normal;
  font-size: 12px;
  color: rgb(148, 148, 148);
  padding: 5px;
}
.registerInputs,
.registerInputPAT {
  font-family: "Alliance No.1";
  background: #010409;
  text-align: center;
  outline: solid;
  outline-color: #5a6169;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #5a6169;
  border-radius: 3px;
  outline-width: 1px;
  margin: 10px;
  padding: 5px;
  height: 20px;
}
.registerInputPAT {
  margin: 0px;
}
.registerGitHubInput {
  font-family: "Alliance No.1";
  background: #010409;
  text-align: center;
  outline: solid;
  outline-color: #5a6169;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #5a6169;
  border-radius: 3px;
  outline-width: 1px;
  margin: 10px;
  margin-right: 21px;
  padding: 5px;
  height: 20px;
}
.registerGitHubInput:focus {
  background: #30363d;
  color: #fff;
}
.registerInputs:focus {
  background: #30363d;
  color: #fff;
}
.registerButton {
  font-family: "Alliance No.1";
  padding: 7px;
  cursor: pointer;
  margin-top: 50px;
  background: #00a586;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  outline: solid;
  outline-width: 1px;
  outline-color: #0d1117;
}
.registerLine {
  z-index: 1;
  position: fixed;
  align-self: flex-end;
  width: 400px;
  height: 1px;
  background: #4c5259;
  margin-bottom: 65px;
}

/* Modal */
.overlay {
  background-color: rgba(19, 18, 24, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.insightsModal {
  font-family: "Alliance No.1";
  width: 550px;
  height: 510px;
  top: 17%;
  position: fixed;
  left: 650px;
  background-color: #161b22;
  color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  border-radius: 5px;
  padding: 2rem;
  z-index: 2;
}
.modalContainer {
  top: 20%;
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  font-family: "Alliance No.1";
  max-width: 600px;
  width: 100%;
  position: fixed;
  left: 650px;
  background-color: #161b22;
  color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  border-radius: 5px;
  padding: 2rem;
  z-index: 2;
}
.loadingSpinner {
  position: fixed;
  left: 48%;
  bottom: 50%;
  z-index: 3;
}
.modalClose {
  width: 25px;
  height: 25px;
}
.modalClose:hover {
  stroke: #db5572;
}
.modalForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 2;
}
.modalLabel {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
  font-size: 15px;
  color: rgb(203, 203, 203);
}
.modalLabel_submit {
  display: flex;
  justify-content: center;
}
.modalLabelName {
  margin: 0px;
  margin-top: 26px;
}
.modalInput {
  font-family: "Alliance No.1";
  background: #010409;
  text-align: center;
  outline: solid;
  outline-color: #5a6169;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #5a6169;
  border-radius: 3px;
  outline-width: 1px;
  margin-top: 20px;
  padding: 5px;
  height: 20px;
  width: 190px;
}
.modalInput:focus {
  background: #30363d;
  color: #fff;
}
.modalSelect {
  font-family: "Alliance No.1";
  background: #010409;
  text-align: center;
  outline: solid;
  outline-color: #5a6169;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #6b737c;
  border-radius: 3px;
  outline-width: 1px;
  margin-top: 20px;
  padding: 5px;
  height: 30px;
  width: 200px;
}
.modalSelect:focus {
  background: #30363d;
  color: #abadb6;
}
.modalSelect:hover {
  cursor: pointer;
}
.modalDescription,
.updatePATInputDescription {
  width: 450px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #0d1017;
  color: rgb(203, 203, 203);
  font-family: "Alliance No.1";
  font-size: 15px;
  resize: unset;
}
.modalClose {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
.modal,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

/* Task */
.task {
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  border-radius: 5px;
  background: #161b22;
  color: #fff;
  height: 300px;
  width: 350px;
  margin: 10px;
  padding: 10px;
}
.taskViewMore {
  position: relative;
  float: right;
  cursor: pointer;
}
.taskViewMore:hover {
  stroke: #00a586;
}
.taskLine {
  z-index: 1;
  width: 350px;
  height: 1px;
  background: #30363d;
  margin: 0px;
  margin-top: 20px;
}
.taskTitle {
  font-family: "Alliance No.1";
  color: rgb(235, 235, 235);
  font-weight: normal;
  margin-top: 10px;
  margin-left: 5px;
}
.taskLangContainer {
  display: flex;
  margin-top: 15px;
  margin-left: 8px;
}
.taskLang {
  font-family: "Alliance No.1";
  color: #78808a;
  margin: 0px;
  margin-left: 10px;
  margin-top: 2px;
}
.taskLangLogo {
  width: 26px;
  height: 25px;
}
.taskDate {
  font-family: "Alliance No.1";
  flex-basis: 100%;
  color: #78808a;
  margin-left: 8px;
  margin-bottom: 5px;
}
.githubRepo {
  font-family: "Alliance No.1";
  color: #535a63;
  margin-left: 5px;
  margin-top: 15px;
  outline: solid;
  outline-width: 1px;
  outline-color: #252b33;
  border-radius: 5px;
  padding: 5px;
  background-color: #0d1014;
  cursor: pointer;
}
.githubRepo:hover {
  background-color: #13161b;
  color: #616872;
}
.repoName {
  color: #0c9de0;
}
.taskStatus-onGoing {
  font-family: "Alliance No.1";
  color: rgb(219, 85, 114);
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 8px;
  flex-basis: 100%;
}
.taskStatus-completed {
  font-family: "Alliance No.1";
  color: rgb(65, 211, 150);
  margin-left: 5px;
}
.taskButtonsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.taskDelete {
  font-family: "Alliance No.1";
  border-radius: 5px;
  width: 150px;
  height: 32px;
  margin: 10px;
  margin-top: 35px;
  padding: 5px;
  background: #2c333f;
  color: #707982;
  border-color: rgb(10, 10, 10);
  border-width: 1px;
  cursor: pointer;
}
.taskDelete:hover {
  background: rgb(219, 85, 114);
  color: #000;
  border-color: #000;
}
.taskDelete-completed {
  font-family: "Alliance No.1";
  border-radius: 5px;
  width: 150px;
  height: 32px;
  padding: 5px;
  background: #2c333f;
  color: #707982;
  border-color: rgb(10, 10, 10);
  border-width: 1px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}
.taskDelete-completed:hover {
  background: rgb(219, 85, 114);
  color: #000;
  border-color: #000;
}
.taskComplete {
  font-family: "Alliance No.1";
  border-radius: 5px;
  width: 150px;
  height: 32px;
  margin: 10px;
  margin-top: 35px;
  padding: 5px;
  background: #00a586;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  cursor: pointer;
}
.taskComplete:hover {
  background: #006452;
  color: rgb(211, 255, 248);
}
.taskHours {
  font-family: "Alliance No.1";
  float: right;
  color: #78808a;
  margin: 0px;
  flex-basis: 40%;
  max-height: 30px;
}
.taskStatus {
  font-family: "Alliance No.1";
  flex-basis: 50%;
  color: #78808a;
  margin: 0px;
  margin-right: 20px;
  max-height: 30px;
}
.taskStatus-onGoing {
  margin-top: 5px;
  font-weight: bold;
}
.taskStatus-completed {
  font-weight: bold;
}
.taskMoreInfoModal {
  position: fixed;
  width: 750px;
  height: 550px;
  background-color: #161b21;
  outline: solid;
  outline-color: #30363d;
  outline-width: 1px;
  border-radius: 5px;
  left: 29%;
  top: 15%;
}
.taskMoreInfoTop {
  display: flex;
  justify-content: space-around;
}
.taskMoreInfoTopLeft {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moreInfoTitle,
.moreInfoDesc,
.moreInfoStatus {
  font-family: "Alliance No.1";
  margin: 0px;
}
.moreInfoTitle {
  margin: 10px;
  color: rgb(238, 238, 238);
}
.moreInfoLogo {
  width: 35px;
  height: 35px;
  margin-top: 20px;
}
.moreInfoStatus {
  color: rgb(238, 238, 238);
  margin: 10px;
  font-size: larger;
}
.moreInfoDesc {
  font-size: smaller;
  color: rgb(139, 139, 139);
}
.taskMoreInfoTopRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 35px;
}
.moreInfoLine {
  z-index: 1;
  align-self: flex-end;
  margin-left: 40px;
  margin-top: 20px;
  width: 670px;
  height: 1px;
  background: #4c5259;
}
.taskMoreInfoMid {
  display: flex;
  justify-content: space-around;
}
.taskMoreInfoMidLeft {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 40%;
}
.moreInfoMidTitle,
.moreInfoMidTitleRight,
.moreInfoMidTitleRight_2 {
  margin: 0px;
  color: #8b9197;
  font-family: "Alliance No.1";
}
.moreInfoMidTitleRight_2 {
  margin-top: 40px;
}
.moreInfoMidTitleRight {
  margin-top: 10px;
}
.moreInfoRightButtonContainer {
  display: flex;
  height: 160px;
  width: 200px;
  margin-top: 5px;
}
.taskMoreInfoRightUpdateButton,
.updatePATbutton {
  font-family: "Alliance No.1";
  align-self: flex-end;
  width: 150px;
  height: 35px;
  background-color: #00a586;
  border-radius: 5px;
  cursor: pointer;
}
.taskMoreInfoRightUpdateButton:hover {
  background-color: #096e5c;
}
.moreInfoMidTitleValue {
  margin-left: 10px;
}
.moreInfoMidLeftTitleInp {
  width: 248px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid;
  border-color: #30363d;
  border-radius: 4px;
  font-family: "Alliance No.1";
  background-color: #0d1017;
  color: rgb(203, 203, 203);
}
.moreInfoMidLeftDesc {
  color: #8b9197;
  font-family: "Alliance No.1";
}
.moreInfoMidLeftText {
  background-color: #0d1017;
  color: rgb(203, 203, 203);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #30363d;
  border-radius: 4px;
  font-family: "Alliance No.1";
  font-size: 15px;
  width: 250px;
  height: 150px;
  resize: unset;
}
.moreInfoMidLeftGit {
  margin-top: 20px;
  margin-left: 1px;
  margin-bottom: 30px;
  background-color: #0d1017;
  display: flex;
  outline: solid;
  outline-width: 1px;
  outline-color: #00c5a1;
  border-radius: 5px;
  width: 255px;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.moreInfoMidLeftGit:hover {
  background-color: #202430;
  cursor: pointer;
}
.midLeftGitName {
  font-family: "Alliance No.1";
  color: #00c5a1;
  padding-bottom: 5px;
  padding-left: 10px;
}
.midLeftGitName:hover {
  cursor: pointer;
}
.moreInfoMidLeftRepo {
  margin: 0px;
  color: #8b9197;
  font-family: "Alliance No.1";
}
.taskMoreInfoMidRight {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 250px;
}
.taskMoreInfoRightDates {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 200px;
  margin-right: 27px;
}
.hoursSpentContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  background-color: #0d1017;
}
.hoursSpentContainerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalHours {
  font-family: "Alliance No.1";
  color: rgb(194, 198, 202);
  margin-top: 10px;
  font-size: 20px;
}
.hoursSpentContainerRight {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 12px;
}
.hoursSpentInput {
  font-size: larger;
  background-color: #0d1017;
  border: 1px solid;
  border-color: #30363d;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 15px;
  width: 35px;
  height: 30px;
  color: #fff;
}
.hoursSpentButton {
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 25px;
  background-color: #0d1017;
  border-color: #30363d;
  border-width: 1px;
  border-radius: 20px;
  color: #dbdbdb;
}
.moreInfoPlusButton {
  margin-bottom: 5px;
}
.moreInfoPlusButton:hover {
  stroke: #00a585;
  cursor: pointer;
}
.createTask {
  border: dashed 2px;
  border-color: #30363d;
  border-radius: 5px;
  background: #161b22;
  color: #fff;
  height: 297px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createTaskTitle {
  font-family: "Alliance No.1";
  color: #6a7178;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 5px;
}
.createTaskButton {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: dashed 2px;
  font-size: 50px;
  font-weight: 50;
  color: #434a4f;
  background: #161b22;
  cursor: pointer;
}
.createTaskButton:hover {
  color: #7e848b;
  background: #1c2229;
}
.submitCreateTask {
  font-family: "Alliance No.1";
  border-radius: 5px;
  width: 150px;
  height: 30px;
  padding: 5px;
  background: #313b47;
  color: rgb(206, 206, 206);
  border-color: rgb(65, 65, 65);
  border-width: 1px;
  cursor: pointer;
}
.submitCreateTask:hover {
  color: rgb(0, 0, 0);
  background: #00a586;
  border-color: rgb(0, 0, 0);
  font-weight: bolder;
}
.dashboardPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d1117;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dashboardFilter,
.dashboardFilter-closed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 7px;
  top: 10px;
  left: 10px;
  margin-bottom: 20px;
  outline: solid;
  outline-width: 1px;
  border-radius: 5px;
  background-color: #0c0e10;
  outline-color: #31373e;
}
.dashboardFilter {
  width: 1585px;
  height: 30px;
  transition: all 300ms;
}
.dashboardFilter-closed {
  width: 80px;
  height: 15px;
  transition: all 700ms;
}
.dashboardFilterLeft {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  max-width: 400px;
}
.caretUp {
  padding-right: 10px;
}
.caretUp:hover,
.caretDown:hover {
  stroke: #75808d;
  cursor: pointer;
}
.dashboardFilterInfo,
.dashboardFilterInfo-closed {
  font-family: "Alliance No.1";
  margin: 0px;
  color: #4a535c;
}
.dashboardFilterInfo {
  margin-left: 20px;
  margin-right: 10px;
}
.dashboardFilterInfo-closed {
  padding-bottom: 2px;
}
.dashboardFilterOnGoing {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 3px;
  border-color: #db5572;
  color: rgb(219, 85, 114);
  width: 110px;
  height: 30px;
  cursor: pointer;
}
.dashboardFilterCompleted {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 3px;
  border-color: #00a586;
  color: #00a586;
  width: 110px;
  height: 30px;
  cursor: pointer;
}
.dashboardFilterCompleted:hover {
  background-color: #1a1e29;
}
.dashboardFilterOnGoing:hover {
  background-color: #1a1e29;
}
.dashboardTasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1600px;
  height: 810px;
  margin-left: 10px;
  align-content: flex-start;
  overflow-y: auto;
}
.dashboardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2530;
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  height: 60px;
  flex-basis: 100%;
}
.dashboardTopLeftSection {
  display: flex;
}
.dashboardTopRightSect {
  display: flex;
}
.learnMore {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #aab3c5;
  margin-right: 30px;
}
.githubLogo {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.learnMore:hover {
  cursor: pointer;
  color: #697486;
}
.dashboardTopLogo {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.dashboardTopTitle {
  font-family: "Aileron";
  font-weight: lighter;
  color: #fff;
  margin: 0px;
  margin-top: 5px;
  margin-left: 20px;
}
.dashboardTopDesc {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #697486;
  margin: 0px;
  margin-left: 20px;
  margin-top: 7px;
}
.dashboardSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161b22;
  outline: solid;
  outline-width: 1px;
  outline-color: #30363d;
  width: 300px;
  height: 100%;
  z-index: -1;
}
.dashboardSideTitle {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #e4eaf0;
  margin: 0px;
  margin-top: 39px;
}
.dashboardSideDesc {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #4c5764;
  margin: 0px;
  margin-top: 20px;
}
.dashboardSideBox,
.dashboardSideBoxPAT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: solid;
  outline-width: 1px;
  outline-color: #394047;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  margin-top: 20px;
}
.dashboardSideBoxPAT {
  outline-color: #005ba5;
}
.dashboardSideBox:hover {
  outline-color: #00a585;
  cursor: pointer;
}
.dashboardSideBoxPAT:hover {
  cursor: pointer;
  outline-color: #008cff;
}
.dashboardSideBox:hover > * {
  cursor: pointer;
  color: #505b68;
}
.dashboardSideBoxPAT:hover > * {
  cursor: pointer;
  color: #115a96;
}
.dashboardSideBoxOption,
.dashboardSideBoxOptionPAT {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #838f9c;
  margin: 0px;
  margin: 5px;
  padding: 5px;
}
.dashboardSideBoxOptionPAT {
  color: #0f79cf;
}
.logout {
  position: fixed;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #56616e;
  width: 50px;
  height: 50px;
  outline: solid;
  outline-width: 1px;
  outline-color: #252a30;
  border-radius: 30px;
  cursor: pointer;
}
.logout:hover {
  background-color: rgb(219, 85, 114);
  transform: scale(1.1);
  transition: all 500ms;
}
.logout:not(:hover) {
  transition: all 500ms;
}
.logout:hover > * {
  stroke: #000;
}
.logoutLogo {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  transform: scale(1.1);
  transition: all 500ms;
}
.logoutDesc {
  font-family: "Alliance No.1";
  font-weight: light;
  color: #fff;
  margin: 0px;
  margin-left: 5px;
}

/* Insights */
.insightsBackground {
  background-color: #0d1117;
  width: 1620px;
  height: 870px;
  z-index: -2;
  overflow-y: auto;
}
.insightsContainer {
  font-family: "Alliance No.1";
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  outline: solid;
  outline-color: #252a31;
  outline-width: 1px;
  color: #fff;
  margin: 10px;
  height: 80px;
  cursor: pointer;
  background-color: #161b22;
}
.insightsContainer:hover {
  background: #1c2229;
}
.insightsCounter {
  margin: 0px;
  margin-top: 15px;
  margin-right: 40px;
  color: rgb(139, 139, 139);
}
.insightsLang {
  margin: 0px;
  margin-top: 8px;
  margin-left: 30px;
  color: rgb(238, 238, 238);
}
.insightsLangLogo {
  margin: 0px;
  margin-left: 25px;
  height: 50px;
  width: 50px;
}
.insightsPhotoAndLang {
  display: flex;
}
.insightsEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.insightsEmptyTitle {
  font-family: "Alliance No.1";
  font-weight: lighter;
  font-size: 40px;
  color: #646d7c;
  margin: 0px;
}
.insightsEmptyDesc {
  font-family: "Alliance No.1";
  font-weight: lighter;
  font-size: 20px;
  color: #444b58;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 120px;
}
.insightsModalTitle {
  font-family: "Alliance No.1";
  font-weight: lighter;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 5px;
}
.insightsModalLine {
  background-color: #30363d;
  height: 1px;
  width: 550px;
}
.insightsModalDesc {
  font-weight: lighter;
  color: rgb(177, 177, 187);
  margin-left: 5px;
}
.insightsModalDescSub {
  color: #46505e;
  margin-left: 5px;
}
.insightsModalMainPanel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #11151b;
  height: 340px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mainPanelTaskInfo {
  outline: solid;
  outline-width: 1px;
  outline-color: #3a3f44;
  border-radius: 5px;
  width: 530px;
  margin-bottom: 10px;
}
.mainPanelTaskInfo:hover {
  background-color: #1a1e25;
  cursor: pointer;
}
.mainPanelTaskInfoTitles {
  font-weight: lighter;
  color: #697486;
  margin: 0px;
  margin: 5px;
}
.mainPanelTaskInfoTitle-task {
  color: rgb(233, 233, 233);
}
.status-ong {
  font-weight: bold;
  color: rgb(194, 100, 100);
}
.status-com {
  font-weight: bold;
  color: #00a586;
}
/* Modals */
.errorModal,
.infoModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90px;
  width: 400px;
  height: 60px;
  background-color: rgb(85, 19, 19);
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: rgb(184, 52, 52);
  z-index: 2;
  cursor: pointer;
}
.errorModal {
  background-color: rgb(85, 19, 19);
  outline-color: rgb(184, 52, 52);
}
.infoModal {
  background-color: #074b3e;
  outline-color: #00a586;
  left: 800px;
  top: 50px;
}
.errorModalMessage,
.infoModalMessage {
  font-family: "Alliance No.1";
  font-weight: lighter;
  color: #ffffff;
  margin: 0px;
}
/* Tracker */
.trackerPanel {
  display: flex;
  width: 84%;
}
.trackerLine {
  background-color: #34383d;
  height: 1px;
  width: 1040px;
  overflow: auto;
}
.trackerOverall,
.mainTracker {
  display: flex;
  flex-direction: column;
  outline: solid;
  outline-width: 1px;
  outline-color: #2b2e33;
  border-radius: 5px;
  padding: 20px;
}
.mainTracker {
  flex-basis: 70%;
  overflow-y: auto;
  margin: 20px;
  max-height: 790px;
  overflow-x: hidden;
}
.mainTrackerBottom {
  display: flex;
  width: 900px;
  justify-content: space-between;
}
.trackerOverall {
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  margin-top: 20px;
  margin-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 790px;
  z-index: 3;
}
.statsTitle {
  font-family: "Alliance No.1";
  font-size: 30px;
  color: #fff;
  margin: 0px;
  margin-bottom: 20px;
}
.overallDesc {
  font-family: "Alliance No.1";
  font-size: 15px;
  color: #595d66;
  margin: 0px;
  margin-bottom: 35px;
  padding-left: 8px;
  padding-right: 8px;
}
.overallLine {
  height: 1px;
  background-color: #34383d;
  width: 450px;
  margin-bottom: 20px;
}
.overallChart {
  width: 300px;
  height: 300px;
}
.trackerHours {
  display: flex;
  height: max-content;
}
.trackerHoursTitle {
  display: flex;
}
.hexagon3D {
  align-self: center;
  margin-right: 5px;
}
.trackerHours_LangSelect {
  color: #282e3b;
  height: max-content;
}
.trackerHoursGraph {
  width: 600px;
  height: 350px;
  background-color: #161b21;
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: #31363c;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 2px;
  transition: all 500ms;
  margin-bottom: 20px;
}
.trackerHoursGraph-closed {
  height: 0px;
}
.trackerHours_Desc {
  font-family: "Alliance No.1";
  color: #747983;
  font-size: 20px;
}
.trackerHoursSelect {
  font-family: "Alliance No.1";
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  background-color: #161b21;
  color: #797f86;
  border-radius: 5px;
}
.trackerHoursInfo {
  background-color: #252a31;
  align-self: end;
  margin-left: 20px;
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: #505661;
  height: 355px;
  width: 400px;
  margin-bottom: 20px;
  opacity: 0;
  animation: showTrackerInfo 0.5s ease-out forwards;
}
.trackerHoursInfoHeader {
  display: flex;
  height: 45px;
  align-items: center;
}
.trackerHoursTitle {
  font-family: "Alliance No.1";
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  margin: 0px;
}
.trackerHoursLine {
  position: inherit;
  height: 1px;
  width: 400px;
  background-color: #505661;
  margin-bottom: 20px;
  top: 10px;
}
.trackerHoursGreenGT {
  color: #00c5a1;
}
.trackerHoursMoreInfoContainer {
  display: flex;
}
.trackerHoursMoreInfoLbl {
  font-family: "Alliance No.1";
  font-size: 15px;
  color: #949ca5;
  margin: 0px;
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}
.trackerHoursLbl2 {
  color: #e2e2e2;
}
.trackerHoursViewDetails {
  display: flex;
  flex-direction: column;
}
.trackerViewDetails {
  display: flex;
}
.viewDetailsButton,
.exportToPDF {
  height: 30px;
  margin-left: 10px;
  background-color: #00a585;
  border-radius: 5px;
  border-width: 0px;
  font-family: "Alliance No.1";
}
.viewDetailsButton:hover,
.exportToPDF:hover {
  cursor: pointer;
  background-color: #2d43c0;
  color: white;
}
.trackerHoursExport {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
}
.statusGraph {
  display: flex;
  flex-direction: column;
}
.statusBarChart {
  width: 400px;
  height: 210px;
  background-color: #161b21;
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: #31363c;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 2px;
}
.statusGraphDesc {
  font-size: 20px;
  color: #6b6e75;
  font-family: "Alliance No.1";
  align-self: center;
}
.trackerRepo {
  display: flex;
  flex-direction: column;
  outline: solid;
  width: 400px;
  outline-width: 1px;
  border-radius: 5px;
  outline-color: #343a42;
  background-color: #161b21;
  padding: 20px;
}
.trackerRepoMost {
  color: #fff;
  font-family: "Alliance No.1";
  font-size: 18px;
  margin: 0px;
  margin-bottom: 30px;
}
.trackerRepoInfo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.trackerRepoInfoDesc {
  color: #fff;
  font-family: "Alliance No.1";
  font-size: 16px;
  margin: 0px;
  margin-left: 10px;
}
.trackerRepoLine {
  background-color: #444a52;
  height: 1px;
  width: 400px;
  margin-top: 30px;
}
.trackerRepoOtherTitle {
  color: #fff;
  font-family: "Alliance No.1";
  font-size: 16px;
}
.trackerRepoErr {
  display: flex;
}
.trackerRepoErrMsg {
  font-family: "Alliance No.1";
  color: #818181;
  font-size: 15px;
}
.viewMostContributed {
  font-family: "Alliance No.1";
  height: 30px;
  background-color: #00a586;
  border-width: 1px;
  border-color: #006452;
  border-radius: 5px;
}
.viewMostContributed:hover {
  background-color: #096958;
  cursor: pointer;
  color: #e0e0e0;
}
.forbiddenTitle,
.updatePATtitle {
  font-family: "Alliance No.1";
  color: #ebebeb;
}
.forbiddenDesc {
  font-family: "Alliance No.1";
  color: #838c9b;
}
.forbiddenGoBack,
.goBackPAT {
  font-family: "Alliance No.1";
  color: #00c5a1;
  text-decoration: underline;
  cursor: pointer;
}
.forbiddenGoBack:hover {
  color: #09856e;
}
.updatePAT {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 15px;
}
.updatePATtitle {
  font-size: 35px;
}
.updatePATInputDescription {
  font-size: 12px;
  margin: 0px;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #868e97;
}
.updatePATGenerate {
  color: #566ef7;
  text-decoration: underline;
}
.updatePATGenerate:hover {
  color: #455acf;
  cursor: pointer;
}
.updatePATInput {
  width: 400px;
  margin-right: 10px;
}
.updatePATbutton {
  width: 80px;
}
.goBackPAT:hover {
  color: #09856e;
}
.updatePATbutton:hover {
  background-color: #4259db;
  color: #fff;
  border-color: #192772;
}
@keyframes showTrackerInfo {
  100% {
    opacity: 1;
  }
}

/* Webkit Customization */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #262f36;
}
::-webkit-scrollbar-thumb {
  background: #58626e;
}
::-webkit-scrollbar-thumb:hover {
  background: #525d69;
}
::placeholder {
  color: #6b737c;
}
